{% if should_enable_inline_editing %}
<div class="metadata-inline-editor">
<a href="javascript:;" role="button" class="btn btn-primary" data-toggle="collapse" data-target="#metadata-edit-table" aria-expanded='false'>
{{_trans('Edit Content Meta Data')}} <i class="fa fa-chevron-circle-down"></i>
</a>
<table class="table table-condensed table-hover table-bordered collapse" id="metadata-edit-table">
<thead>
<tr class="info">
<th>{{ _trans('Attribute') }}</th>
<th>{{ _trans('Current Value') }}</th>
</tr>
</thead>
<tbody>
<tr>
<td>{{_trans('Slug') }}</td>
<td>{% editable post.slug %}{{post.slug}}{%endeditable%}</td>
</tr>
<tr>
<td>{{_trans('Status') }}</td>
<td>{% editable post.status %}{%endeditable%}</td>
</tr>
<tr>
<td>{{_trans('Publish Date') }}</td>
<td>{% editable post.publish_date %}{{post.publish_date}}{%endeditable%}</td>
</tr>
<tr>
<td>{{_trans('Enable Comments') }}</td>
<td>{% editable post.enable_comments %}Post Enable Comments{%endeditable%}</td>
</tr>
<tr>
<td>{{_trans('Keywords') }}</td>
<td>{% editable post.keywords %}{{post.keywords}}{%endeditable%}</td>
</tr>
</tbody>
</table> 
</div>
{% endif %}
